<form class="vehicle-form" (ngSubmit)="onSubmit()">

    <mat-form-field class="vehicle-full-width">
      <mat-label>Brand</mat-label>
      <input name="brand" [(ngModel)]="vehicle.brand" required matInput>
    </mat-form-field>
  
    <mat-form-field class="vehicle-full-width">
      <mat-label>Model</mat-label>
      <input name="model" [(ngModel)]="vehicle.model" required matInput>
    </mat-form-field>
  
    <mat-form-field class="vehicle-full-width">
      <mat-label>Year</mat-label>
      <input name="year" [(ngModel)]="vehicle.year" required matInput>
    </mat-form-field>
  
    <mat-form-field class="vehicle-full-width">
        <mat-label>Color</mat-label>
        <input name="color" [(ngModel)]="vehicle.color" required matInput>
      </mat-form-field>
  
    <button type="submit" mat-raised-button>Save</button>
  </form>